body {
  font-family: sans-serif;
}

main {
  width: 100%;
  min-width: 600px;
}

button {
  text-transform: capitalize;
  width: 100px;
}

.button-container {
  display: flex;
  justify-content: flex-end;
  padding-right: 20px;
}

.actions-container {
  display: flex;
  width: 20%;
  padding-right: 20px;
  justify-content: flex-end;
  align-items: center;
}

.action-icon {
  padding: 0px 5px;
  width: 30px;
  height: 30px;
}

.category-icon-container {
  display: flex;
  width: 50px;
  min-width: 50px;
  justify-content: center;
  align-items: center;
}

.col_title {
  width: 20%;
  display: flex;
  align-items: center;
  text-transform: capitalize;
  font-weight: 600;
  color: #fff;
}

.col_content {
  width: 20%;
  display: flex;
  align-items: center;
  text-transform: capitalize;
  color: #808080;
}